{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<article class="container d-flex justify-content-center align-items-stretch gap-3 mt-5 mb-5">
    <!-- Bloc pour Se Connecter -->
    <div class="form-block d-flex flex-column flex-fill p-3">
        <div class="alert" role="alert">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <form method="post" class="BlockLogInt">
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter !</h1>

            <!-- Email -->
            <label for="login_email">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="login_email" class="form-control mb-3" autocomplete="email" required autofocus>

            <!-- Password -->
            <label for="login_password">Mot de Passe</label>
            <input type="password" name="password" id="login_password" class="form-control mb-3" autocomplete="current-password" required>

            <!-- CSRF Token -->
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <!-- Checkbox -->
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir
                </label>
            </div>

            <!-- Button Login -->
        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
            
        </form>
    </div>

    <!-- Ligne de séparation avec "OU" -->
    <div class="d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="border-right" style="height: 50px; width: 1px; background-color: #ccc;"></div>
        <span class="px-2">OU</span>
        <div class="border-right" style="height: 50px; width: 1px; background-color: #ccc;"></div>
    </div>
    





    <!-- Bloc pour S'inscrire -->
    <div class="form-block d-flex flex-column flex-fill p-3">
        <div class="alert" role="alert">
            {% for message in app.flashes('registrationErrorMessages') %}
                <ul>
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <form action="/register" method="POST" class="BlockSignUp">
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous inscrire</h1>

            <!-- Email -->
            <label for="register_email">Email</label>
            <input type="email" value="{{ last_username }}" name="register_email" id="register_email" class="form-control mb-3" autocomplete="email" required autofocus>

            <!-- Password -->
            <label for="register_password">Mot de Passe</label>
            <input type="password" name="register_password" id="register_password" class="form-control mb-3" autocomplete="new-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

            <!-- CSRF Token -->
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                  <!-- Button Register -->
        <button formnovalidate class="btn btn-lg btn-primary mt-3" type="submit">S'inscrire</button>
        </form>
    </div>
</article>
{% endblock %}
