
<div class="container" id="carousel">

	<div class="blockProduits">
    {% for produit in products %}
		<div class="card-group flex-nowrap flex-row" id="card">
			<div class="card me-2" style="width: 15rem;">
				<img src="{{produit.image}}" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title">{{produit.nom}}</h5>
					<p class="card-text block-text">{{produit.description}}</p>
          <p class="card-text">{{produit.prix}}</p>
		  			<button class="add-to-cart" data-product-id="{{ produit.id }}">Ajouter
                    	<img src="/img/cart.png" alt="">
					</button>
		  			{# <button id="ishaana"><a href="{{ path('cart_add', { id: produit.id }) }}">Ajouter<img src="/img/cart.png" alt=""></a></button> #}
					{# <button type="button">Ajouter</button> #}
				</div>
			</div>
    </div>
    {% endfor %}
  </div>

</div>