
<header id="header">
    <nav class="d-flex justify-content-between">
        <div>
            <a href=""><img src="{{ asset('img/logo.png') }}" alt=""></a>
        </div>

        
            <div>
                <form action="">
                    <div>
                        <input type="text" id="searchBox" placeholder="Rechercher un produit...">
                        <img src="{{ asset('img/input/loupe.svg') }}" alt="?">
                    </div>
                </form>
            </div>
        

        <div id="menu" class="d-flex justify-content-between">
            <div class="content">
                <div class="circle">
                    <img src="{{ asset('img/card/panier.svg') }}" alt="?">
                </div>
                <div>
                    <p>Panier</p>
                </div>
            </div>

             <div class="content">
                <div class="circle">
                    <img src="{{ asset('img/card/profil.svg') }}" alt="?">
                </div>
                <div>
                    <p>Profil</p>
                </div>
            </div>

            <div class="content">
                <div class="circle">
                    <img src="{{ asset('img/card/magasin.svg') }}" alt="?">
                </div>
                <div>
                    <p>Magasin</p>
                </div>
            </div>
        </div>
    </nav>
    {{ include('partials/menu.html.twig') }}
</header>