<header id="header">
    <nav class="d-flex justify-content-between">
        <div>
            <a href="{{path('app_home')}}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
        </div>

        <div>
            <form action="">
                <div>
                    {{ render(controller('App\\Controller\\SearchboxController::searchBox')) }}
                </div>
            </form>
        </div>

        <div id="menu" class="d-flex justify-content-between">
            <div class="content">
                <a href="{{ path('app_check_out') }}" class="d-flex flex-column align-items-center">
                    <div class="circle">
                        <img src="{{ asset('img/card/panier.svg') }}" alt="Panier">
                    </div>
                    <div>
                        <p>Panier</p>
                    </div>
                </a>
            </div>

            <div class="content">
                <a href="{{ path('app_profil') }}" class="d-flex flex-column align-items-center">
                    <div class="circle">
                        <img src="{{ asset('img/card/profil.svg') }}" alt="Profil">
                    </div>
                    <div>
                        <p>Profil</p>
                    </div>
                </a>
            </div>

            <div class="content">
                <a href="#" class="d-flex flex-column align-items-center">
                    <div class="circle">
                        <img src="{{ asset('img/card/magasin.svg') }}" alt="Magasin">
                    </div>
                    <div>
                        <p>Magasin</p>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {{ render(controller('App\\Controller\\MenuController::menu')) }}
</header>