{# <nav id="nav">
    <div class=" justify-content-evenly container">
        <ul class="fody row">
            <li class="sub-menu-parent col-3" >
                <a href="#">Nos rayons <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>
                <ul class="sub-menu"> 
                    {% for category in categoriesMenu %} 
                        <li> 
                            <a href="{{ path('catProduits',{'category':category.slug}) }}">{{ category.nom }}</a> 
                            <ul class="sub-menu-enfant"> 
                            {% for child in category.sousCategories %} 
                                <li><a href="{{ path('sousCatProduits',{'category':category.slug,'sousCategory':child.slug}) }}">{{ child.nom }}</a></li> 
                            {% endfor %} 
                            </ul> 
                        </li> 
                    {% endfor %} 
                </ul>
            </li>
            <li class="sub-menu-parent col-3" >
                <a href="#">Mes favoris <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>
                
                <ul class="sub-menu">
                    <li><a href="#">Liste 1</a></li>
                    <li><a href="#">Liste 2</a></li>
                    <li><a href="#">Liste 3</a></li>
                    <li><a href="#">Liste 4</a></li>
                    <li><a href="#">Liste 5</a></li>
                    <li><a href="#">Liste 6</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent col-3">
                <a href="#">Recettes bio <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>
                
                <ul class="sub-menu">
                    <li><a href="#">Recette du jour</a></li>
                    <li><a href="#">Recette du mois</a></li>
                    <li><a href="#">Recette de l'année</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent col-3">
                <a href="#">Nos engagements <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>

                <ul class="sub-menu"></ul>
            </li>
        </ul>
    </div>
</nav>
 #}

<nav id="nav">
    <div class="container justify-content-evenly">
        <ul class="fody row" role="menu">
            <li class="sub-menu-parent col-3" role="menuitem">
                <a href="#">Nos rayons <img src="{{ asset('img/card/select.svg') }}" alt="Menu"></a>
                <ul class="sub-menu" role="menu">
                    {% for category in categoriesMenu %}
                        <li role="menuitem">
                            <a href="{{ path('catProduits', {'category': category.slug}) }}">{{ category.nom }}</a>
                            <ul class="sub-menu-enfant" role="menu">
                                {% for child in category.sousCategories %}
                                    <li role="menuitem">
                                        <a href="{{ path('sousCatProduits', {'category': category.slug, 'sousCategory': child.slug}) }}">{{ child.nom }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            </li>
            <li class="sub-menu-parent col-3" >
                <a href="#">Mes favoris <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>
                
                <ul class="sub-menu">
                    <li><a href="#">Liste 1</a></li>
                    <li><a href="#">Liste 2</a></li>
                    <li><a href="#">Liste 3</a></li>
                    <li><a href="#">Liste 4</a></li>
                    <li><a href="#">Liste 5</a></li>
                    <li><a href="#">Liste 6</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent col-3">
                <a href="#">Recettes bio <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>
                
                <ul class="sub-menu">
                    <li><a href="#">Recette du jour</a></li>
                    <li><a href="#">Recette du mois</a></li>
                    <li><a href="#">Recette de l'année</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent col-3">
                <a href="#">Nos engagements <img src="{{ asset('img/card/select.svg') }}" alt="?"></a>

                <ul class="sub-menu"></ul>
            </li>
        </ul>
    </div>
</nav>

