{% extends 'base.html.twig' %}

{# {% block title %}Hello RecetteDuMomentController!{% endblock %} #}

{% block body %}

<div class="block-affiche-r">
 
    <div class="recetteunique-block">
        <h3 class="recette-title">Recette: {{ recette.nom }}</h3>
            <div class="image-wrapper">
                <img src="{{ recette.image }}" alt="Image de la recette : {{ recette.nom }}" class="recette-image">
            </div>
            <p>description recette: {{ recette.description }}</p>
            <h2>Produits associés :</h2>
    </div>

    <div>
    

  {#  {% if produits is not empty %}
    
        {% else %}
             <p>Aucun produit associé à cette recette.</p>
        {% endif %} 
     
 #}
             {{  include("partials/carousel.html.twig",{"products":produits}) }}	 
    </div>
</div>
{% endblock %}
