{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-start">
        <div id="navigationProfil" class="col">
            <a href="#">Tableau de bord</a>
            <a href="#">Mes avantages<br>fidélité</a>
            <a href="#">Ma wallet</a>
            <a href="#">Mon historique</a>
            <a href="#">Mon profil</a>
        </div>
        <section id="global" class="col">
            <div id="profil">
                {% if user.nom and user.prenom is not empty %}
                <h3>{{user.nom}} {{user.prenom}}</h3>
                {% else %}
                <h3>Profil utilisateur</h3>
                {% endif %}
                <ul>
                    {% if user.telephone is not empty %}
                    <li>
                        Téléphone: {{user.telephone}}
                    </li>
                    {% else %}
                    <li>
                    Vous n'avez pas fourni de numèro de téléphone.
                    </li>
                    {% endif %}
                    {% if user.email is not empty %}
                    <li>Email: {{user.email}}</li>
                    {% else %}
                    Vous n'avez pas fourni d'adresse email.
                    {% endif %}
                    {% if user.adresse and user.codePostal and user.ville is not empty%}
                    <li>Adresse: {{user.adresse}} {{user.codePostal}} {{user.ville}}</li>
                    {% else %}
                    <li>Vous n'avez pas enregistré une adresse de livraison.</li>
                    {% endif %}
                </ul>
            </div>
                <div class="d-flex flex-row mb-3">
                    <div class="p-2" id="impactSocial">
                        <h4>Mon impact social</h4>
                        <img src="/img/pourcentage.png" alt="...">
                        <p>78%</p>
                    </div>
                    <div class="p-2" id="points">
                        <h4 >Mes points Naturalia</h4>
                        <p><span>120</span></p>
                        <p>points</p>
                    </div>
                    <div class="p-2" id="magasinFavori">
                        <h4>Mon magasin favori</h4>
                        <img src="https://picsum.photos/200" alt="...">
                        <p>lorem</p>
                    </div>
                </div>
        </section>
        <div>
        <h3 id="historique">Mon historique</h3>
        {% if historique is not empty %}
            {{ include('/partials/carousel.html.twig', {'products':historique})}}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Vous n'avez pas encore passé de commandes.
            </div>
        {% endif %}
    </div>
    <div>
        <h3 id="favoris">Mes coups de coeurs</h3>
        {% if favoris is not empty %}
            {{ include('/partials/carousel.html.twig', {'products': favoris}) }}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Aucun produit n'a encore été ajouté dans vos favoris.
            </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
