<div class="d-flex container justify-content-around">
    {% for produit in pagination %}
        <div class="promo">
            <div class="d-flex">
                <div class="image">
                    <img src="{{ produit.image }}" style="border-radius: 20px;" alt="{{ produit.nom }}">
                </div>
                <div class="circle">
                    <p>Promo</p>
                </div>
            </div>
            <div class="descriptif">
                <h3 class="">{{ produit.nom }}</h3>
                <p class="card-text">{{ produit.description }}</p>
                <p class="card-text">{{ produit.prix }}€</p>
                <button class="add-to-cart" data-id="{{ produit.id }}">Ajouter au panier
                    <img src="{{ asset('img/cart.png') }}" alt="Ajouter au panier">
                </button>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>