{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main id="category" class="">
    <section>
        <div class="">
            <h1 class="">{{ category.nom }}</h1>
            <div class="container">
                <nav>
                    <div class="d-flex justify-content-around">
                        <div>
                            
                            
                                  {# <select name="nameTrie" id="">
                                    <option value="nameTrie">{{nameTrie}}</option>
                                    
                                </select>  #}
                                <form method="get" action="">
                                    <select name="trie" id="trie">
                                        <option value="">-- Sélectionnez un tri --</option>
                                        <option value="price_asc" {% if app.request.query.get('trie') == 'price_asc' %} selected {% endif %}>Prix croissant</option>
                                        <option value="price_desc" {% if app.request.query.get('trie') == 'price_desc' %} selected {% endif %}>Prix décroissant</option>
                                        <option value="name_asc" {% if app.request.query.get('trie') == 'name_asc' %} selected {% endif %}>Nom croissant</option>
                                        <option value="name_desc" {% if app.request.query.get('trie') == 'name_desc' %} selected {% endif %}>Nom décroissant</option>
                                    </select>  

                                    
                                    <button class="none">Trier par
                                
                                    </button>
                                </form>
            

                        </div>
                        <div class="d-flex justify">
                            <div>
                            <form method="get" action="">
                                <select name="labels" id="labels"> 
                                        {% for label in labels %}
                                           <option value="{{ label.id }}" {% if label.id in app.request.query.get('label', []) %} selected {% endif %}>
                                           {{ label.nom }}
                                        {% endfor %}
                                
                                </select>
                                <button class="none" type="select">Trier par label </button>
                            </form>
                                

                                
                           
                                
                            </div>
                            <div>
                                <form id="filter-form" action="" method="get"> 
                                    <div> 
                                        <label class="toggle-switch" name="localForm"> 
                                           <input class="toggle-switch" type="checkbox" name="local" value="1" {% if app.request.query.get('local') %} checked {% endif %} onchange="this.form.submit()"> 
                                            <div class="toggle-switch-background"> 
                                            <div class="toggle-switch-handle"></div> 
                                            </div> 
                                        </label> <span>Choisir local</span> 
                                    </div> 
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <nav>
                <ul class="category container d-flex">
                    {% for sousCategory in sousCategories %}
                        {% if sousCategory.id == sousCategoryId %}
                            <li class="ici">{{ sousCategory.nom }}</li>
                        {% else %}
                            <li class="">
                                <a href="{{ path('sousCatProduits', {'category': category.slug, 'sousCategory': sousCategory.slug}) }}">{{ sousCategory.nom }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </section>
    <article>
        <div class="d-flex container justify-content-around">
            {% set shuffled_products = products|shuffle %}
            {% set random_products = shuffled_products[:2] %}
            {% for produit in random_products %}
                <div class="promo">
                    <div class="d-flex">
                        <div class="image">
                            <a href="{{ path('detailProduit', { slug: produit.slug }) }}">
                                <img src={{ asset('img/produit/' ~ produit.image) }} style="border-radius: 20px;" alt="{{ produit.nom }}">
                            </a>
                        </div>
                        <div class="circle">
                            <p>Promo</p>
                        </div>
                    </div>
                    <div class="descriptif">
                        <h3 class="">{{ produit.nom }}</h3>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">{{ produit.prix }}€</p>
                        <button class="add-to-cart" data-product-id="{{ produit.id }}">Ajouter
                            <img src="{{ asset('img/cart.png') }}" alt="Ajouter au panier">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
    <section class="container">
        <div class="blockProduits row yellow">
           {% set sorted_products = products %}

           {# Filtre local si activé #}
            {% if app.request.query.get('local') %}
                 {% set sorted_products = sorted_products|filter(product => product.isLocal) %}
            {% endif %}
        
        
            {# Décodage des valeurs en clés spécifiques #}
            {% set nameTrie = app.request.query.get('trie') in ['name_asc', 'name_desc'] ? app.request.query.get('trie') : null %}
            {% set priceTrie = app.request.query.get('trie') in ['price_asc', 'price_desc'] ? app.request.query.get('trie') : null %}

            {# Application du tri #}
            {% if priceTrie == 'price_asc' %}
                {% set sorted_products = products|sort((a, b) => a.prix <=> b.prix) %}
            {% elseif priceTrie == 'price_desc' %}
                {% set sorted_products = products|sort((a, b) => b.prix <=> a.prix) %}
            {% endif %}

            {% if nameTrie == 'name_asc' %}
                {% set sorted_products = products|sort((a, b) => a.nom <=> b.nom) %}
            {% elseif nameTrie == 'name_desc' %}
                {% set sorted_products = products|sort((a, b) => b.nom <=> a.nom) %}
            {% endif %}

            {# Filtrage par labels #}
            {% set selected_labels = app.request.query.get('label') %}
               {% if selected_labels is not iterable %}
            {% set selected_labels = [] %}
            {% endif %}

            {% for produit in sorted_products %}
                <div class="card-group col-3">
                    <div class="yellow me-2 align-self-stretch" style="width: 15rem;">
                        <a href="{{ path('detailProduit', { slug: produit.slug }) }}">
                            <img src={{ asset('img/produit/' ~ produit.image) }} class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text block-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                            <button class="add-to-cart" data-product-id="{{ produit.id }}">Ajouter
                                <img src="{{ asset('img/cart.png') }}" alt="Ajouter au panier">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
</main>
{% endblock %}
