{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	{# <style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.ici {
			color: red;
		}
	</style>
 #}
	<main id="category" class="">
		
			<section>
				<div class="">
					{# <h1>Hello {{ controller_name }}! ✅</h1> #}
			
					{# <div class="show-category">
					        <ul>
					        <li>
					        {% for category in category %}
					        <li>{{category.}}</li>
					        </li>
					        </ul>
					    </div> #}
			            <h1 class="">{{category.nom}}</h1>

						<div class="container">
							<nav>
								<div class="d-flex justify-content-around">
									<div>
										<button class="none">Trier par <img src="{{ asset('img/card/select.svg') }}" alt=""></button>
									</div>

									<div class="d-flex justify">
										<div>
											<button class="none" type="menu">Trier par label <img src="{{ asset('img/card/select.svg') }}" alt=""></button>
										</div>
										
										<div>
											<form action="">
												<div>
													<label class="toggle-switch">
  														<input type="checkbox">
  														<div class="toggle-switch-background">
    														<div class="toggle-switch-handle">
															
															</div>
  														</div>
													</label> 
													<span>Choisr local</span>
												</div>
											</form>
										</div>
									</div>
								</div>
							</nav>
						</div>
		
							<nav>
							<ul class="category container d-flex">
			
									{% for  sousCategory  in  sousCategories %}
										{% if(sousCategory.id == sousCategoryId) %}<li class="ici"> {{sousCategory.nom}}</li>
									{% else %}
										<li class=""><a href="{{ path('sousCatProduits', {'category':category.slug, 'sousCategory':sousCategory.slug}) }}">{{sousCategory.nom}}</a></li>
									{% endif %}
			
								{% endfor %}
							</ul>
			            </nav>
				</div>
			</section>
		
		            
		
				<section class="container">
						<div class="blockProduits row yellow">
							{% for produit in products %}
			                <div class="card-group col-3 container">
								<div class="yellow me-2 align-self-stretch" style="width: 15rem;">
									<img src="{{produit[0].image}}" class="card-img-top" alt="">
										<div class="containercard-body">
											<h5 class="card-title">{{produit[0].nom}}</h5>
											<p class="card-text">{{produit[0].description}}</p>
											<button type="button">Ajouter<img src="{{ asset('/img/cart.png') }}" alt=""></button>
											</div>
										</div>
								</div>
								{% endfor %}
						
			                </div>
			            </div>
				</section>
	
	</main>
	{% endblock %}
