{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main id="category" class="">
    <section>
        <div class="">
            <h1 class="">{{category.nom}}</h1>
            <div class="container">
                <nav>
                    <div class="d-flex justify-content-around">
                        <div>
                            <button class="none">Trier par
                                
                            </button>
                            
                                  {# <select name="nameTrie" id="">
                                    <option value="nameTrie">{{nameTrie}}</option>
                                    
                                </select>  #}
                                <form method="get" action="">
                                    <select name="priceTrie">
                                            <option value="asc" {% if app.request.query.get('products') == 'asc' %} selected {% endif %}>Prix croissant</option>
                                            <option value="desc" {% if app.request.query.get('products') == 'desc' %} selected {% endif %}>Prix décroissant</option>
                                    </select>  

                                    <select name="nameTrie">
                                        <option value="asc" {% if nameTrie == 'asc' %}selected{% endif %}>Nom croissant</option>
                                        <option value="desc" {% if nameTrie == 'desc' %}selected{% endif %}>Nom décroissant</option>
                                    </select>
                                    <button type="submit">Trier</button>
                                </form>
            

                        </div>
                        <div class="d-flex justify">
                            <div>
                                <button class="none" type="select">Trier par label </button>

                                
                           <form method="get" action="">
                                <select name="label" id="labels" multiple> <!-- multiple permet de sélectionner plusieurs options -->
                                {% for label in labels %}
                                        <option value="{{ label }}" {% if label in app.request.query.get('label', []) %} selected {% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>
                                <button type="submit">Filtrer</button>
                            </form>
                                
                            </div>
                            <div>
                                <form id="filter-form" action="" method="get"> 
                                    <div> 
                                        <label class="toggle-switch"> 
                                            <input class="toggle-switch" type="checkbox" name="local" value="1" {# {% if localForm %} checked {% endif %} #} onchange="this.form.submit()"> 
                                            <div class="toggle-switch-background"> 
                                            <div class="toggle-switch-handle"></div> 
                                            </div> 
                                        </label> <span>Choisir local</span> 
                                    </div> 
                                    <button type="submit">Lancer le filtre local</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <nav>
                <ul class="category container d-flex">
                    {% for sousCategory in sousCategories %}
                        {% if sousCategory.id == sousCategoryId %}
                            <li class="ici">{{ sousCategory.nom }}</li>
                        {% else %}
                            <li class="">
                                <a href="{{ path('sousCatProduits', {'category': category.slug, 'sousCategory': sousCategory.slug}) }}">{{ sousCategory.nom }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </section>
    <article>
        <div class="d-flex container justify-content-around">
            {% set shuffled_products = products|shuffle %}
            {% set random_products = shuffled_products[:2] %}
            {% for produit in random_products %}
                <div class="promo">
                    <div class="d-flex">
                        <div class="image">
                            <a href="{{ path('detailProduit', { slug: produit.slug }) }}">
                                <img src={{ asset('img/produit/' ~ produit.image) }} style="border-radius: 20px;" alt="{{ produit.nom }}">
                            </a>
                        </div>
                        <div class="circle">
                            <p>Promo</p>
                        </div>
                    </div>
                    <div class="descriptif">
                        <h3 class="">{{ produit.nom }}</h3>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">{{ produit.prix }}€</p>
                        <button class="add-to-cart" data-product-id="{{ produit.id }}">Ajouter
                            <img src="{{ asset('img/cart.png') }}" alt="Ajouter au panier">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
    <section class="container">
        <div class="blockProduits row yellow">
            {% for produit in products %}
                <div class="card-group col-3">
                    <div class="yellow me-2 align-self-stretch" style="width: 15rem;">
                        <a href="{{ path('detailProduit', { slug: produit.slug }) }}">
                            <img src={{ asset('img/produit/' ~ produit.image) }} class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text block-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                            <button class="add-to-cart" data-product-id="{{ produit.id }}">Ajouter
                                <img src="{{ asset('img/cart.png') }}" alt="Ajouter au panier">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
</main>
{% endblock %}
