{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	{# <style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.ici {
			color: red;
		}
	</style>
 #}
	<main id="category" class="">
		
			<section>
				<div class="example-wrapper">
					{# <h1>Hello {{ controller_name }}! ✅</h1> #}
			
					{# <div class="show-category">
					        <ul>
					        <li>
					        {% for category in category %}
					        <li>{{category.}}</li>
					        </li>
					        </ul>
					    </div> #}
			            <h1 class="justify-content-around">{{category.nom}}</h1>
		
							<nav>
							<ul class="category {# container #} d-flex justify-content-between">
			
									{% for  sousCategory  in  sousCategories %}
										{% if(sousCategory.id == sousCategoryId) %}<li class="ici"> {{sousCategory.nom}}</li>
									{% else %}
										<li class=""><a href="{{ path('sousCatProduits', {'category':category.slug, 'sousCategory':sousCategory.slug}) }}">{{sousCategory.nom}}</a></li>
									{% endif %}
			
								{% endfor %}
							</ul>
			            </nav>
				</div>
			</section>
		
		            
		
				<section>
						<div class="blockProduits row yellow">
							{% for produit in products %}
			                <div class="card card-group col-3 container">
								<div class="yellow card me-2" style="width: 15rem;">
									<img src="{{produit[0].image}}" class="card-img-top" alt="">
										<div class="card-body">
											<h5 class="card-title">{{produit[0].nom}}</h5>
											<p class="card-text">{{produit[0].description}}</p>
											<button type="button">Ajouter<img src="{{ asset('/img/cart.png') }}" alt=""></button>
											</div>
										</div>
								</div>
								{% endfor %}
						
			                </div>
			            </div>
				</section>
	
	</main>
	{% endblock %}
