{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .ici {color: red;}
</style>

<div class="example-wrapper">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}

    {# <div class="show-category">
        <ul>
        <li>
        {% for category in category %}
        <li>{{category.}}</li>
        </li>
        </ul>
    </div> #}


        <h1>{{category.nom}}<h1>
        
    <ul>
        
        {% for  sousCategory  in  sousCategories %}
        {% if(sousCategory.id == sousCategoryId) %}
        <li class="ici">{{sousCategory.nom}}</li>
        {% else %}
        <li>{{sousCategory.nom}}</li>
        {% endif %}
        
        {% endfor %}
    </ul>
</div>
{% endblock %}
