{% extends 'base.html.twig' %}



{% block title %}Votre Panier{% endblock %}

{% block body %}


   <main id="check-out" class="container">

   <nav>
    {% include'partials/co-stages.html.twig' %}
   </nav>

    <section class="d-flex">
        <article>
            <div id="product-checkout">
                <h3>Panier</h3>
                <div id="cart-items" class="d-flex justify-content-between">
                    {% for item in items %}
                        <div class="d-flex justify-content-start cart-item">
                            <div>
                                <img src="{{ item.product.image }}" alt="{{ item.product.nom }}">
                            </div>
                            <div>
                                <div>
                                    <h4>{{ item.product.prix }}</h4>
                                    <p>{{ item.product.nom }}</p>
                                    <span>{{ item.product.poids }}</span> <span>{{ item.product.prix / item.product.poids }}/kg</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div>
                                <form class="cart-update-form" data-id="{{ item.product.id }}" method="post">
                                    <button type="button" class="decrease">-</button>
                                    <span>{{ item.quantity }}</span>
                                    <button type="button" class="increase">+</button>
                                </form>
                                <form class="cart-remove-form" data-id="{{ item.product.id }}" method="post">
                                    <button type="button" class="remove">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="replace-product">
                <div>
                    <div>
                        <h3>Remplacement produit</h3>
                    </div>
                    <div>
                        <form action="" method="post">
                            <div class="d-flex">
                                <div>
                                    <input type="checkbox" id="remplacement">
                                </div>
                                <div>
                                    <label for="remplacement">
                                        En cas d’indisponibilité du produit, j’autorise le magasin à me proposer un produit équivalent sans augmentation de prix.
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {# {{include('/partials/recapitulatif.html.twig')}} #}

            <div id="comment-section">
                <div>
                    <h3>Commentaire client</h3>
                </div>
                <div>
                    <form action="" method="post">
                        <div>
                            <input type="textarea" name="comment" id="comment" placeholder="Si vous souhaitez, vous pouvez laisser un commentaire pour nous aider à préparer votre commande.">
                        </div>
                    </form>
                </div>
            </div>
        </article>
        <div>
            {{ include('partials/bill.html.twig') }}
        </div>
    </section>

    <section id="panier-carousel">
        {# {{ include('/partials/carousel.html.twig', {'products':productsSelection}) }} #}
    </section>

    <div class="total">
        <h2>Total : {{ total }} €</h2>
    </div>
</main>

<script src="{{ asset('js/panier-add.js') }}"></script>

{% endblock %}